.home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto, auto;
  gap: 0.5em;
  padding: 1rem;
  color: white;
}

.card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  .hoverDiv {
    transition: all ease-in-out 0.15s;
    opacity: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;

    background-color: rgba(3, 8, 79, 0.437);
    backdrop-filter: blur(4px);
  }

  .hoverDiv:hover {
    opacity: 1;
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width: 767px) {
  .home {
    grid-template-columns: 1fr;
  }
}

a:link {
  color: white;
}

a:visited {
  color: white;
}
